html,
body,
esri-map .map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.map-col {
  padding: 0;
}

esri-map esri-search .arcgisSearch {
  display: block;
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 65px;
}

.legend-container {
  display: block;
  max-height: 360px;
  overflow-y: auto;
}

ul.nav.nav-tabs {
  margin-right:10px;
  border-bottom: none;
}

h2 {
  border-bottom: 1px solid #ddd;
  line-height: 37px;
}

@media screen and (max-width: 560px) {
  h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 470px) {
  h2 {
    display: none;
  }
  esri-map esri-search .arcgisSearch {
    top: 55px;
  }
}
